@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

.body {
  font-family: arial, helvetica;
  background: #e8e8e8;
}

/*:::::menu*/
.menu {
  border-radius: 20px;
  list-style: none;
  padding: 0;
  background: #092327;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
.menu li {
  display: inline-block;
  text-align: center;
}
.menu li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}
.menu li a:hover {
  background: #ef8354;
}

.titulo {
  text-align: left;
  padding: auto;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.historia {
  font-family: "Dancing Script", cursive;
}

/*:::: fin:menu*/
/*:::::footer*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.pie-pagina {
  width: 100%;
  background-color: #092327;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 10%;
  height: 10%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
/*::::: fin footer*/
.videos {
  display: flex;
  width: 100%;
  justify-content: center;
  -ms-flex-align: center;
  border: 2px;
  flex-wrap: wrap;
}

.info-de-discografia {
  display: flex;
  -ms-flex-align: center;
  text-align: center;
}

.index {
  background-image: linear-gradient(to right top, #092327, #082a2e, #073235, #05393c, #034142, #024847, #01504c, #025751, #065f56, #0d685a, #16705e, #1f7961);
  width: 100%;
}

.texto, .titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagenesbanda {
  text-align: center;
}

.logo {
  margin: 20;
  padding: 300;
}

.estiloimagenes {
  border-radius: 20px;
}

.titulo-llamativo {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  background-color: #092327;
  color: white;
  border-radius: 40px;
}

/*:::::formulario pagina de contacto*/
.form-register {
  width: 400px;
  background: #092327;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
}
.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #0a1a2a;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}
.form-register a {
  color: white;
  text-decoration: none;
}
.form-register a:hover {
  color: white;
  text-decoration: underline;
}
.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 75px 0;
  font-size: 16px;
}

.contacto {
  display: flex;
  -ms-flex-align: center;
  text-align: center;
  justify-content: center;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.boton-inico {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 75px 0;
  font-size: 16px;
}

/*:::::fin-formulario pagina de contacto*/
/*:::::pag de integrantes*/
.integrantes {
  background-image: url(../html/imagenesyvideos/fondointeg.jpg);
}

.imgint {
  display: flex;
  justify-content: center;
  -ms-flex-align: center;
  border: 2px;
}

/*:::::pag de historia*/
.container s {
  height: calc(100vh - 20px - 300px);
}

.container-i {
  height: calc(75vh - 20px - 300px);
}

.container-j {
  height: calc(40vh - 20px - 250px);
}

.container-h {
  height: calc(70vh - 20px - 300px);
}

.container-d {
  height: calc(45vh - 20px - 300px);
}

.collapse navbar-collapse {
  background-image: linear-gradient(to right top, #092327, #082a2e, #073235, #05393c, #034142, #024847, #01504c, #025751, #065f56, #0d685a, #16705e, #1f7961);
}

/*inicio slider*/
body {
  background-color: none;
}

#page-slider {
  font-family: sans-serif;
  margin: auto;
  background-color: none;
  max-width: 800px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}
#page-slider > ul {
  border-radius: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  border-radius: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
}

#page-slider > ul.slider {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 300px;
}
#page-slider > ul.slider h1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
}
#page-slider > ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
  background: #fff;
}
#page-slider > ul.slider li img {
  border-radius: 40px;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
#page-slider > ul.slider li:first-child, #page-slider > ul.slider li:target {
  opacity: 1;
}
#page-slider > .menu-slider {
  text-align: center;
  margin: 20px;
}
#page-slider > .menu-slider li {
  display: inline-block;
  text-align: center;
}
#page-slider > .menu-slider li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

/* slider*/
/*discografia cards*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*Cards*/
.container-card {
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto;
}

.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  background-color: #092327;
  color: white;
  border-radius: 40px;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #0a1a2a;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.card img {
  width: 100%;
  height: 210px;
}
.card .contenido-card {
  padding: 15px;
  text-align: center;
}
.card .contenido-card h3 {
  margin-bottom: 15px;
  color: white;
}
.card .contenido-card p {
  line-height: 1.8;
  color: white;
  font-size: 14px;
  margin-bottom: 5px;
}
.card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}
.card .contenido-card a:hover {
  background: #2fb4cc;
  color: #fff;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    flex-wrap: wrap;
  }
  .card {
    margin: 15px;
  }
}
/*Fin-Cards*/
section .navegacion {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  background-image: linear-gradient(to right top, #092327, #082a2e, #073235, #05393c, #034142, #024847, #01504c, #025751, #065f56, #0d685a, #16705e, #1f7961);
}

.discografia {
  background-image: linear-gradient(to right top, #092327, #082a2e, #073235, #05393c, #034142, #024847, #01504c, #025751, #065f56, #0d685a, #16705e, #1f7961);
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .texto {
    margin: 20px;
  }
}
.discografia {
  overflow-x: hidden;
}/*# sourceMappingURL=styles.css.map */